$background: rgb(180, 180, 180);
$border: rgb(120, 120, 120);
$darkbackground: rgba(100, 100, 100, 0.8);
$darkestbackground: rgba(80, 80, 80, 0.8);
$lightbackground: rgba(200, 200, 200, 0.3);
$green: rgba(175, 10, 10, 0.7);
$darkgreen: rgb(120, 0, 0);
$red: rgba(10, 175, 10, 0.7);
$darkred: rgb(0, 120, 0);