.message{
    width: 80%;
    margin: auto;
    padding: 5em;
    background: rgba(175, 10, 10, 0.7);
    border: 1px solid rgb(120, 0, 0);
    color: white;
    border-radius: 1em;

    &__error{
        background: rgba(10, 175, 10, 0.7);
        border: 1px solid rgb(0, 120, 0);
    }

    &__overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 20%;
        z-index: 10;
        display: none;
    }
}

.footer{
    background: rgb(180, 180, 180);
    border: 1px solid rgb(120, 120, 120);
    border-radius: 1em;
    margin: 30em auto 2em auto;
    width: 80%;
    padding: 2em;
    font-size: 0.8em;
    text-align: center;
}

.header{
    overflow: auto;

    &__logo{
        height: 5em;
        float: left;
    }

    &__title{
        font-size: 2em;
        float: left;
        margin-left: 1em;
        margin-top: 2.1rem;
    }

    &__languageSelector{
        float: right;
        margin: 0.3em;
        background: rgb(180, 180, 180);
        padding: 0.5em;
        border-radius: 1em;

        &__select{
            border-radius: 0.5em;
        }
    }

    &__break{
        clear: both;
    }
}